[submodule "third_party/open-simulation-interface-aim"]
	path = third_party/open-simulation-interface-aim
	url = https://github.com/aimotive/open-simulation-interface.git
	branch = feat/antenna-model
